@use '../escape.scss' as *;
@use '../variables.scss';
@use '../colors.scss';
@use 'sass:list';
@use 'sass:map';

.dui-alert {
    @apply bg-base-200;
    background-color: colors.get('base-200');
    margin-top: 0.5rem;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
    border-radius: variables.$box-border-radius;

    @media (min-width: map.get(variables.$screen-sizes, 'md')) {
        margin-top: 0;
        flex-direction: row;
    }

    & > * {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    & > .dui-alert-icon {
        flex: none;
    }

    & > .dui-alert-actions {
        flex: none;
    }

    @mixin responsive-props($prefix: '') {
        $prefix: escape($prefix);

        @each $color in list.join(colors.$brand, colors.$functional) {
            &.#{$prefix}dui-alert-#{$color} {
                background-color: colors.get($color);
                color: colors.get-content($color);
            }
        }
    }

    @include responsive-props();

    @each $name, $screen-size in variables.$screen-sizes {
        @media (min-width: #{$screen-size}) {
            @include responsive-props('#{$name}:');
        }
    }
}
