@use '../escape.scss' as *;
@use '../variables.scss';
@use '../themes.scss';
@use 'sass:list';
@use 'sass:map';

.dui-alert {
    @include themes.bg-color('base-200');
    @include themes.box-border-radius();

    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;

    @media (min-width: map.get(variables.$screen-sizes, 'md')) {
        margin-top: 0;
        flex-direction: row;
    }

    & > * {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    & > .dui-alert-icon {
        flex: none;
    }

    & > .dui-alert-actions {
        flex: none;
    }

    @mixin responsive-props($prefix: '') {
        $prefix: escape($prefix);

        @each $color in list.join(themes.$brand, themes.$functional) {
            &.#{$prefix}dui-alert-#{$color} {
                @include themes.bg-color($color);
                @include themes.text-color-content($color);
            }
        }
    }

    @include responsive-props();

    @each $name, $screen-size in variables.$screen-sizes {
        @media (min-width: #{$screen-size}) {
            @include responsive-props('#{$name}:');
        }
    }
}
