@use 'sass:list';
@use 'sass:map';
@use '../variables.scss' as *;
@use '../escape.scss' as *;
@use '../colors.scss';

.dui-alert {
    @include colors.background('base-200');
    margin-top: 0.5rem;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
    border-radius: var(--box-border-radius, 1rem);

    @media (min-width: map.get($screen-sizes, 'md')) {
        margin-top: 0;
        flex-direction: row;
    }

    & > * {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    & > .dui-alert-icon {
        flex: none;
    }

    @mixin responsive-props($prefix: '') {
        $prefix: escape($prefix);

        @each $color in list.join($brand-colors, $functional-colors) {
            &.#{$prefix}dui-alert-#{$color} {
                @include colors.background($color);
                @include colors.text($color);
            }
        }
    }

    @include responsive-props();

    @each $name, $screen-size in $screen-sizes {
        @media (min-width: #{$screen-size}) {
            @include responsive-props('#{$screen-size}:');
        }
    }
}
