@use '../themes.scss';

.dui-menu {
    & > .dui-menu-item {
        @include themes.bg-color('base-100');
        @include themes.text-color('base-content');

        display: flex;
        padding: 0.75rem 1rem;
        user-select: none;
        align-items: center;

        transition-property: background-color, border-color;
        transition-duration: 200ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:not(disabled):not([disabled='true']) {
            &:hover,
            &:focus {
                @include themes.bg-color('base-content', 0.1);

                cursor: pointer;
            }

            &:active,
            &.dui-menu-item-active,
            &:hover.dui-menu-item-hover-active {
                @include themes.bg-color('primary', 1);
                @include themes.text-color('primary-content');
            }

            &.dui-menu-item-bordered {
                @include themes.border-color('primary');
            }

            &.dui-menu-item-hover-bordered {
                border-color: transparent;

                &:hover {
                    @include themes.border-color('primary');
                }
            }
        }

        &:disabled,
        &[disabled='true'] {
            @include themes.text-color('base-content', 0.2);
        }
    }

    &[data-padding] {
        & > .dui-menu-item {
            border-radius: themes.$button-border-radius;
        }
    }

    &.dui-menu-vertical {
        & > .dui-menu-item {
            &.dui-menu-item-bordered,
            &.dui-menu-item-hover-bordered {
                border-left-width: 4px;
            }
        }
    }

    &.dui-menu-horizontal {
        & > .dui-menu-item {
            &.dui-menu-item-bordered,
            &.dui-menu-item-hover-bordered {
                border-bottom-width: 4px;
            }
        }
    }
}
