:global(.tab-group) {
    & > :global(.tab-item) {
        @apply relative inline-flex cursor-pointer select-none flex-wrap items-center justify-center text-center;
        @apply h-8 text-sm leading-loose;
        --tab-padding: 1rem;
    }

    &.tab-group-md {
        & > :global(.tab-item) {
            @apply h-8 text-sm leading-loose;
            --tab-padding: 1rem;
        }
    }

    &.tab-group-lg {
        & > :global(.tab-item) {
            @apply h-12 text-lg leading-loose;
            --tab-padding: 1.25rem;
        }
    }

    &.tab-group-sm {
        & > :global(.tab-item) {
            @apply h-6 text-sm leading-3;
            --tab-padding: 0.75rem;
        }
    }

    &.tab-group-xs {
        & > :global(.tab-item) {
            @apply h-5 text-xs leading-3;
            --tab-padding: 0.5rem;
        }
    }
}
