@use '../themes.scss';
@use 'sass:list';

.dui-radio {
    @include themes.border-color('base-content', 0.2);

    --chkbg: themes.get-color('base-content');

    cursor: pointer;
    appearance: none;
    border-radius: 9999px;
    border-width: 1px;
    flex-shrink: 0;
    transition: background, box-shadow themes.$input-animation-duration ease-in-out;

    &:focus-visible {
        outline: 2px solid rgb(themes.get-color('base-content'));
        outline-offset: 2px;
    }

    @keyframes radiomark {
        0% {
            box-shadow: 0 0 0 12px rgb(themes.get-color('base-100')) inset,
                0 0 0 12px rgb(themes.get-color('base-100')) inset;
        }
        50% {
            box-shadow: 0 0 0 3px rgb(themes.get-color('base-100')) inset,
                0 0 0 3px rgb(themes.get-color('base-100')) inset;
        }
        100% {
            box-shadow: 0 0 0 4px rgb(themes.get-color('base-100')) inset,
                0 0 0 4px rgb(themes.get-color('base-100')) inset;
        }
    }

    &:checked {
        @include themes.bg-color('base-content');
        animation: radiomark themes.$input-animation-duration ease-in-out;
        box-shadow: 0 0 0 4px rgb(themes.get-color('base-100')) inset, 0 0 0 4px rgb(themes.get-color('base-100')) inset;
    }

    &:disabled {
        cursor: not-allowed;
        opacity: 0.2;
    }

    @each $color in list.join(themes.$brand-colors, themes.$functional-colors) {
        &.dui-radio-#{$color} {
            @include themes.border-color($color);

            --chkbg: themes.get-color($color);

            &:hover {
                @include themes.border-color($color);
            }

            &:focus-visible {
                outline: 2px solid rgb(themes.get-color($color));
            }

            &:checked {
                @include themes.border-color($color);
                @include themes.bg-color($color);
                @include themes.text-color($color + '-content');
            }
        }
    }

    &.dui-radio-xs {
        height: 1rem;
        width: 1rem;
    }

    &.dui-radio-sm {
        height: 1.25rem;
        width: 1.25rem;
    }

    &.dui-radio-md {
        height: 1.5rem;
        width: 1.5rem;
    }

    &.dui-radio-lg {
        height: 2rem;
        width: 2rem;
    }
}
