@use 'sass:list';
@use '../variables.scss' as *;

.radio {
    @apply h-6 w-6 cursor-pointer appearance-none rounded-full border border-base-content border-opacity-20;
    --chkbg: var(--base-content);
    transition: background,
        box-shadow var(--input-animation-duration, 0.2s) ease-in-out;

    &:focus-visible {
        outline: 2px solid hsl(var(--base-content));
        outline-offset: 2px;
    }

    &:checked {
        @apply bg-base-content;
        animation: radiomark var(--input-animation-duration, 0.2s) ease-in-out;
        box-shadow: 0 0 0 4px hsl(var(--base-100)) inset,
            0 0 0 4px hsl(var(--base-100)) inset;
    }

    @each $color in list.join($brand-colors, $functional-colors) {
        &.radio-#{$color} {
            @apply border-#{$color} hover:border-#{$color};
            --chkbg: var(--#{$color});

            &:focus-visible {
                outline: 2px solid hsl(var(--#{$color}));
            }

            &:checked {
                @apply border-#{$color} bg-#{$color} text-#{$color}-content;
            }
        }
    }

    &:disabled {
        @apply cursor-not-allowed opacity-20;
    }
}

@keyframes radiomark {
    0% {
        box-shadow: 0 0 0 12px hsl(var(--base-100)) inset,
            0 0 0 12px hsl(var(--base-100)) inset;
    }
    50% {
        box-shadow: 0 0 0 3px hsl(var(--base-100)) inset,
            0 0 0 3px hsl(var(--base-100)) inset;
    }
    100% {
        box-shadow: 0 0 0 4px hsl(var(--base-100)) inset,
            0 0 0 4px hsl(var(--base-100)) inset;
    }
}
