.rating {
    & > :global(input) {
        @apply h-6 w-6 bg-base-content bg-opacity-100;
        @apply appearance-none;
        -webkit-appearance: none;
        animation: rating-pop var(--animation-input, 0.25s) ease-out;

        &.rating-hidden {
            @apply w-2 bg-transparent;
        }

        &:checked ~ :global(input) {
            @apply bg-opacity-20;
        }

        &:focus-visible {
            @apply transition-transform duration-300 ease-in-out;
            transform: translateY(-0.125em);
        }

        &:active:focus {
            animation: none;
        }

        &:active:focus {
            transform: translateY(-0.125em);
        }
    }

    &.rating-half > input:not(.rating-hidden) {
        @apply w-3;
    }
}

@keyframes rating-pop {
    0% {
        transform: translateY(-0.125em);
    }
    40% {
        transform: translateY(-0.125em);
    }
    100% {
        transform: translateY(0);
    }
}
