@use '../themes.scss';

.dui-rating {
    display: inline-flex;
    position: relative;

    & > label {
        @include themes.bg-color('base-content', 0.8);

        cursor: pointer;

        // @keyframes rating-pop {
        //     0% {
        //         transform: translateY(-0.125em);
        //     }
        //     40% {
        //         transform: translateY(-0.125em);
        //     }
        //     100% {
        //         transform: translateY(0);
        //     }
        // }

        // animation: rating-pop themes.$input-animation-duration ease-out;
    }

    & > input {
        appearance: none;

        &:checked ~ label,
        &:checked ~ label ~ label {
            @include themes.bg-color('base-content', 0.4);
        }

        // &:focus-visible {
        //     transform: translateY(-0.125em);

        //     transition-property: transform;
        //     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        //     transition-duration: 300ms;
        // }

        // &:active:focus {
        //     animation: none;
        // }

        // &:active:focus {
        //     transform: translateY(-0.125em);
        // }
    }

    &.dui-rating-xs > label {
        height: 0.75rem;
        width: 0.75rem;
    }

    &.dui-rating-sm > label {
        height: 1rem;
        width: 1rem;
    }

    &.dui-rating-md > label {
        height: 1.5rem;
        width: 1.5rem;
    }

    &.dui-rating-lg > label {
        height: 2.5rem;
        width: 2.5rem;
    }
}
