@use '../themes.scss';

.dui-breadcrumb-group > ul {
    & > li.dui-breadcrumb-item {
        @include themes.text-color-content('base');

        display: flex;
        align-items: center;

        & > a {
            display: flex;
            align-items: center;
            cursor: pointer;

            &:hover {
                text-decoration-line: underline;
            }

            &:focus {
                outline: 2px solid transparent;
                outline-offset: 2px;
            }

            &:focus-visible {
                outline: 2px solid currentColor;
                outline-offset: 2px;
            }
        }

        & + *:before {
            display: block;
            content: '';
            margin-left: 0.5rem;
            margin-right: 0.75rem;
            height: 0.375rem;
            width: 0.375rem;
            opacity: 0.4;
            border-top: 1px solid;
            border-right: 1px solid;
            background-color: transparent;
            transform: rotate(45deg);
        }
    }
}
