:global(.breadcrumb-group) {
    & > :global(ul) {
        & > :global(li.breadcrumb-item) {
            @apply flex items-center;

            & > :global(a) {
                @apply flex cursor-pointer items-center hover:underline;

                &:focus {
                    @apply outline-none;
                }

                &:focus-visible {
                    outline: 2px solid currentColor;
                    outline-offset: 2px;
                }
            }

            & + :global(*:before) {
                content: '';
                @apply ml-2 mr-3 block h-2 w-2 rotate-45 transform opacity-40;
                border-top: 1px solid;
                border-right: 1px solid;
                background-color: transparent;
            }
        }
    }
}
