@use 'sass:list';
@use '../variables.scss' as *;

.select {
    @apply border border-base-content border-opacity-0 bg-base-100 pr-10 font-semibold transition duration-200 ease-in-out;
    border-radius: var(--button-border-radius);
    background-image: linear-gradient(45deg, transparent 50%, currentColor 50%),
        linear-gradient(135deg, currentColor 50%, transparent 50%);
    background-position: calc(100% - 20px) calc(1px + 50%),
        calc(100% - 16px) calc(1px + 50%);
    background-size: 4px 4px, 4px 4px;
    background-repeat: no-repeat;

    &.select-bordered {
        @apply border-opacity-20;
    }

    &:focus {
        outline: 2px solid hsla(var(--base-content) / 0.2);
        outline-offset: 2px;
    }

    @each $color in list.join($brand-colors, $functional-colors) {
        &.select-#{$color} {
            @apply border-#{$color};

            &:focus {
                outline: 2px solid hsl(var(--#{$color}));
            }
        }
    }

    &.select-ghost {
        @apply bg-opacity-5;

        &:focus {
            @apply bg-opacity-100 text-base-content;
        }
    }

    &:disabled {
        @apply cursor-not-allowed border-base-200 bg-base-200 text-opacity-20 placeholder-base-content placeholder-opacity-20;
    }

    // &-multiple,
    // &[multiple],
    // &[size]&:not([size='1']) {
    //     @apply bg-none pr-4;
    // }
}
