@use '../variables.scss' as *;
@use '../escape.scss' as *;

.dui-avatar {
    position: relative;
    display: inline-flex;

    & > div {
        display: block;
        aspect-ratio: 1 / 1;
        overflow: hidden;
    }

    & > img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    &.dui-avatar-placeholder {
        & > div {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    @mixin avatar-status($bg-color) {
        &:before {
            @apply #{$bg-color};
            content: '';
            display: block;
            position: absolute;
            z-index: 10;
            border-radius: 9999px;
            width: 15%;
            height: 15%;
            top: 7%;
            right: 7%;
            box-shadow: 0 0 0 2px var(--base-100);
        }
    }

    &.dui-avatar-online {
        @include avatar-status('bg-success');
    }

    &.dui-avatar-offline {
        @include avatar-status('bg-base-300');
    }
}
