@use '../variables.scss' as *;
@use '../escape.scss' as *;

$avatar-sizes: (
    xs: 6,
    sm: 12,
    md: 16,
    lg: 48,
);

.avatar {
    @apply relative inline-flex;

    & > :global(div) {
        @apply block aspect-square overflow-hidden;
    }

    img {
        @apply h-full w-full object-cover;
    }

    &.avatar-placeholder {
        & > :global(div) {
            @apply flex items-center justify-center;
        }
    }

    @mixin avatar-props($prefix: '') {
        $prefix: escape($prefix);

        @each $size-name, $size in $avatar-sizes {
            &.#{$prefix}avatar-#{$size-name} {
                @apply h-#{$size} w-#{$size};
            }
        }
    }

    @include avatar-props();

    @each $screen-size in $tailwind-screen-sizes {
        @screen #{$screen-size} {
            @include avatar-props('#{$screen-size}:');
        }
    }
}
