@use '../variables.scss' as *;
@use '../escape.scss' as *;

.avatar {
    @apply relative inline-flex;

    & > :global(div) {
        @apply block aspect-square overflow-hidden;
    }

    & > :global(img) {
        @apply h-full w-full object-cover;
    }

    &.avatar-placeholder {
        & > :global(div) {
            @apply flex items-center justify-center;
        }
    }

    @mixin avatar-status($bg-color) {
        &:before {
            content: '';
            @apply absolute z-10 block rounded-full #{$bg-color};
            width: 15%;
            height: 15%;
            top: 7%;
            right: 7%;
            box-shadow: 0 0 0 2px var(--base-100);
        }
    }

    @mixin avatar-props($prefix: '') {
        $prefix: escape($prefix);

        &.#{$prefix}avatar-online {
            @include avatar-status('bg-success');
        }

        &.#{$prefix}avatar-offline {
            @include avatar-status('bg-base-300');
        }
    }

    @include avatar-props();

    @each $screen-size in $tailwind-screen-sizes {
        @screen #{$screen-size} {
            @include avatar-props('#{$screen-size}:');
        }
    }
}
