@use '../colors';

.dui-avatar-group {
    display: flex;
    // overflow: hidden;

    & > .dui-avatar > * {
        border-color: colors.get('base-100');
        // overflow: hidden;
        border-radius: 9999px;
        border-width: 4px;
    }

    & > .dui-avatar ~ .dui-avatar {
        margin-left: var(--avatar-group-x-space, -1.5rem);
    }
}
