@use '../themes.scss';
@use 'sass:list';

.dui-toggle {
    @include themes.border-color('neutral', 0.2);
    @include themes.bg-color('neutral', 0.2);
    @include themes.badge-border-radius();

    --handle-offset: 1.5rem;

    border-width: 1px;
    flex-shrink: 0;
    height: 1.5rem;
    width: 3rem;
    cursor: pointer;
    appearance: none;
    box-shadow: calc(var(--handle-offset) * -1) 0 0 2px rgb(themes.get-color('base-100')) inset,
        0 0 0 2px rgb(themes.get-color('base-100')) inset;
    transition: background-color, box-shadow themes.$input-animation-duration ease-in-out;

    &:focus-visible {
        outline: 2px solid themes.get-color('neutral');
        outline-offset: 2px;
    }

    &:checked {
        @include themes.border-color('neutral');
        @include themes.bg-color('neutral');

        border-width: 1px;
        box-shadow: var(--handle-offset) 0 0 2px rgb(themes.get-color('base-100')) inset,
            0 0 0 2px rgb(themes.get-color('base-100')) inset;
        [dir='rtl'] & {
            box-shadow: calc(var(--handle-offset) * 1) 0 0 2px rgb(themes.get-color('base-100')) inset,
                0 0 0 2px rgb(themes.get-color('base-100')) inset;
        }
    }

    &:indeterminate {
        @include themes.border-color('neutral');
        @include themes.bg-color('neutral');

        border-width: 1px;
        box-shadow: calc(var(--handle-offset) / 2) 0 0 2px rgb(themes.get-color('base-100')) inset,
            calc(var(--handle-offset) / -2) 0 0 2px rgb(themes.get-color('base-100')) inset,
            0 0 0 2px rgb(themes.get-color('base-100')) inset;
        [dir='rtl'] & {
            box-shadow: calc(var(--handle-offset) / 2) 0 0 2px rgb(themes.get-color('base-100')) inset,
                calc(var(--handle-offset) / -2) 0 0 2px rgb(themes.get-color('base-100')) inset,
                0 0 0 2px rgb(themes.get-color('base-100')) inset;
        }
    }

    &:disabled {
        @include themes.bg-color('neutral', 0.2);

        cursor: not-allowed;
        border-color: transparent;

        @each $color in list.join(themes.$brand-colors, themes.$functional-colors) {
            &.dui-toggle-#{$color}:checked {
                @include themes.bg-color($color, 0.2);
            }
        }
    }

    @each $color in list.join(themes.$brand-colors, themes.$functional-colors) {
        &.dui-toggle-#{$color} {
            &:focus-visible {
                outline: 2px solid rgb(themes.get-color($color));
            }

            &:checked {
                @include themes.border-color($color, 0.1);
                @include themes.bg-color($color);
                @include themes.text-color($color + '-content');
            }
        }
    }

    &.dui-toggle-xs {
        --handle-offset: 0.5rem;

        height: 1rem;
        width: 1.5rem;
    }

    &.dui-toggle-sm {
        --handle-offset: 0.75rem;

        height: 1.25rem;
        height: 2rem;
    }

    &.dui-toggle-md {
        --handle-offset: 1.5rem;

        height: 1.5rem;
        width: 3rem;
    }

    &.dui-toggle-lg {
        --handle-offset: 2rem;

        height: 2rem;
        width: 4rem;
    }
}
