.toggle {
    @apply shrink-0;

    &.toggle-xs {
        --handleoffset: 0.5rem;
        @apply h-4 w-6;
    }

    &.toggle-sm {
        --handleoffset: 0.75rem;
        @apply h-5 w-8;
    }

    &.toggle-md {
        --handleoffset: 1.5rem;
        @apply h-6 w-12;
    }

    &.toggle-lg {
        --handleoffset: 2rem;
        @apply h-8 w-16;
    }
}
