@use '../themes.scss';

.dui-menu {
    & > .dui-menu-title {
        @include themes.text-color('base-content', 0.4);

        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 0.75rem;
        line-height: 1rem;
        font-weight: 700;
    }
}
