@use '../themes.scss';

.dui-menu {
    @include themes.bg-color('base-100');
    @include themes.text-color('base-content');

    &.dui-menu-horizontal {
        display: inline-flex;
        flex-direction: row;
    }

    &.dui-menu-vertical {
        display: flex;
        flex-direction: column;
    }

    &.dui-menu-rounded {
        border-radius: themes.$box-border-radius;
    }
}
