.dui-breadcrumb-group {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    max-width: 100%;
    overflow-x: auto;

    & > ul {
        display: flex;
        align-items: center;
        white-space: nowrap;
        min-height: min-content;
    }
}
