@use '../themes.scss';

.dui-divider {
    display: flex;
    align-items: center;
    align-self: stretch;
    white-space: nowrap;

    &:not(:empty) {
        gap: 1rem;
    }

    &:before,
    &:after {
        @include themes.bg-color('base-content', 0.1);

        flex-grow: 1;
        height: 0.125rem;
        width: 100%;
        content: '';
    }

    &.dui-divider-vertical {
        flex-direction: row;
        margin-left: 0;
        margin-right: 0;
        margin-top: 1rem;
        margin-bottom: 1rem;
        height: 1rem;
        width: auto;

        &:before,
        &:after {
            height: 0.125rem;
            width: 100%;
        }
    }

    &.dui-divider-horizontal {
        flex-direction: column;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 1rem;
        margin-right: 1rem;
        height: auto;
        width: 1rem;

        &:before,
        &:after {
            height: 100%;
            width: 0.125rem;
        }
    }
}
