.dui-card > .dui-card-body > .dui-card-actions {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 0.5rem;
    width: 100%;

    &.dui-card-actions-top {
        align-items: flex-start;
    }

    &.dui-card-actions-middle {
        align-items: center;
    }

    &.dui-card-actions-bottom {
        align-items: flex-end;
    }

    &.dui-card-actions-start {
        justify-content: flex-start;
    }

    &.dui-card-actions-center {
        justify-content: center;
    }

    &.dui-card-actions-end {
        justify-content: flex-end;
    }
}
