@use 'core';
@use 'escape' as *;
@use 'sass:list';
@use 'sass:map';

$artboard-sizes: (
    phone-1: (
        x: 320px,
        y: 568px,
    ),
    phone-2: (
        x: 375px,
        y: 667px,
    ),
    phone-3: (
        x: 414px,
        y: 736px,
    ),
    phone-4: (
        x: 375px,
        y: 812px,
    ),
    phone-5: (
        x: 414px,
        y: 896px,
    ),
    phone-6: (
        x: 320px,
        y: 1024px,
    ),
);

@mixin default() {
    .artboard {
        display: flex;
        flex: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@mixin alignment($size) {
}

@mixin demo() {
    .artboard.artboard-demo {
        @include core.bg-color('base-100');
        @include core.text-color('base-content');
        @include core.box-border-radius();
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.102), 0 1px 2px rgba(0, 0, 0, 0.059);
    }
}

@mixin size-and-alignment($size, $alignment) {
    .artboard.artboard {
        @if not list.index(map.keys($artboard-sizes), $size) {
            @error 'Invalid size `#{$size}`. Expected one of `#{$artboard-sizes}`.';
        }

        $vector2: map.get($artboard-sizes, $size);

        &-#{$size} {
            &.artboard-#{$alignment} {
                width: map.get($vector2, if($alignment == 'horizontal', 'y', 'x'));
                height: map.get($vector2, if($alignment == 'horizontal', 'x', 'y'));
            }
        }
    }
}
