@use 'sass:map';
@use 'sass:list';
@use '../variables.scss' as *;
@use '../escape.scss' as *;

$sizes: (
    1: (
        x: 320px,
        y: 568px,
    ),
    2: (
        x: 375px,
        y: 667px,
    ),
    3: (
        x: 414px,
        y: 736px,
    ),
    4: (
        x: 375px,
        y: 812px,
    ),
    5: (
        x: 414px,
        y: 896px,
    ),
    6: (
        x: 320px,
        y: 1024px,
    ),
);

.artboard {
    @apply flex flex-none flex-col items-center justify-center;
    @apply w-full;

    @mixin artboard-props($prefix: '') {
        $prefix: escape($prefix);

        &.#{$prefix}artboard-phone {
            @each $size, $object in $sizes {
                &-#{$size} {
                    width: map.get($object, 'x');
                    height: map.get($object, 'y');

                    &.#{$prefix}artboard-horizontal {
                        width: map.get($object, 'y');
                        height: map.get($object, 'x');
                    }
                }
            }
        }
    }

    @include artboard-props();

    @each $screen-size in $tailwind-screen-sizes {
        @screen #{$screen-size} {
            @include artboard-props('#{$screen-size}:');
        }
    }
}
