.steps {
    @apply inline-grid grid-flow-col overflow-hidden overflow-x-auto;
    counter-reset: step;
    grid-auto-columns: 1fr;

    &.steps-horizontal {
        grid-auto-columns: 1fr;
        @apply inline-grid grid-flow-col overflow-hidden overflow-x-hidden;

        & > .step-item {
            @apply grid grid-cols-1 grid-rows-2 place-items-center text-center;
            grid-template-rows: 40px 1fr;
            grid-template-columns: auto;
            min-width: 4rem;

            &:before {
                @apply h-2 w-full translate-y-0 translate-x-0;
                content: '';
                margin-left: 100%;
            }
        }
    }

    &.steps-vertical {
        grid-auto-rows: 1fr;
        @apply grid-flow-row;

        & > .step-item {
            @apply grid grid-cols-2 grid-rows-1;
            gap: 0.5rem;
            grid-template-columns: 40px 1fr;
            grid-template-rows: auto;
            min-height: 4rem;
            justify-items: start;

            &:before {
                @apply h-full w-2 -translate-y-1/2 -translate-x-1/2;
                margin-left: 50%;
            }
        }
    }
}
