.step-group {
    counter-reset: step;

    &.step-group-horizontal {
        @apply inline-grid grid-flow-col overflow-hidden overflow-x-auto;
        grid-auto-columns: 1fr;
    }

    &.step-group-vertical {
        @apply inline-grid grid-flow-row overflow-hidden overflow-x-auto;
        grid-auto-rows: 1fr;
    }
}
