.swap {
    @apply cursor-pointer;

    & > :global(*) {
        @apply duration-300 ease-in-out;
        transition-property: transform, opacity;
    }

    &.swap-rotate {
        & > :global([slot='on']) {
            @apply rotate-45;
        }

        &[data-state='true'] > :global([slot='swap-off']) {
            @apply -rotate-45;
        }

        &[data-state='true'] > :global([slot='swap-on']) {
            @apply rotate-0;
        }
    }

    &.swap-flip {
        transform-style: preserve-3d;
        perspective: 16em;

        & > :global([slot='on']) {
            transform: rotateY(180deg);
            backface-visibility: hidden;
            @apply opacity-100;
        }

        &[data-state='true'] > :global([slot='off']) {
            transform: rotateY(-180deg);
            backface-visibility: hidden;
            @apply opacity-100;
        }

        &[data-state='true'] > :global([slot='on']) {
            transform: rotateY(0deg);
        }
    }
}
