@use 'sass:list';
@use '../variables.scss' as *;

$colors: list.append(list.join($brand-colors, $functional-colors), 'neutral');

.link {
    @each $color in $colors {
        &.link-#{$color} {
            @apply text-#{$color} hover:text-#{$color}-focus;
        }
    }

    &:focus {
        @apply outline-none;
    }

    &:focus-visible {
        outline: 2px solid currentColor;
        outline-offset: 2px;
    }
}
