@use '../themes.scss';
@use 'sass:list';

.dui-link {
    cursor: pointer;
    text-decoration-line: underline;

    &:focus {
        outline: 2px solid transparent;
        outline-offset: 2px;
    }

    &:focus-visible {
        outline: 2px solid currentColor;
        outline-offset: 2px;
    }

    &.dui-link-hover {
        text-decoration-line: none;

        &:hover {
            text-decoration-line: underline;
        }
    }

    @each $color in list.append(list.join(themes.$brand-colors, themes.$functional-colors), 'neutral') {
        &.dui-link-#{$color} {
            @include themes.text-color($color);

            &:hover {
                @include themes.text-color($color + '-focus');
            }
        }
    }
}
