.dui-indicator-group > .dui-indicator-item {
    position: absolute;
    left: var(--indicator-left, 0);
    right: var(--indicator-right, auto);
    top: var(--indicator-top, 0);
    transform: translateX(var(--indicator-translate-x, 50%)) translateY(var(--indicator-translate-y, -50%));
    z-index: 1;

    &.dui-indicator-item-start {
        left: 0;
        right: auto;
        --indicator-translate-x: -50%;
    }

    &.dui-indicator-item-center {
        left: 50%;
        right: 50%;
        --indicator-translate-x: -50%;
    }

    &.dui-indicator-item-end {
        left: auto;
        right: 0;
        --indicator-translate-x: 50%;
    }

    &.dui-indicator-item-bottom {
        top: auto;
        bottom: 0;
        --indicator-translate-y: 50%;
    }

    &.dui-indicator-item-middle {
        top: 50%;
        bottom: 50%;
        --indicator-translate-y: -50%;
    }

    &.dui-indicator-item-top {
        top: 0;
        bottom: auto;
        --indicator-translate-y: -50%;
    }
}
