@use 'sass:list';
@use '../variables.scss' as *;
@use '../escape.scss' as *;

:global(div.tooltip) {
    & > div.tooltip-content {
        @apply opacity-0 transition delay-100 duration-200 ease-in-out;
        @apply absolute pointer-events-none;
        @apply -translate-x-1/2 top-auto left-1/2 right-auto;
        @apply max-w-xs rounded px-2 py-1 text-sm;
        background-color: var(--tooltip-color);
        bottom: var(--tooltip-offset);
        color: var(--tooltip-text-color);
        width: max-content;
    }

    & :global(.tooltip-open) > div.tooltip-content,
    // &:hover > div.tooltip-content
    {
        @apply opacity-100 delay-75;
    }

    // @mixin tooltip-props($prefix: '') {
    //     $prefix: escape($prefix);

    //     @each $color in list.join($brand-colors, $functional-colors) {
    //         &.#{$prefix}tooltip-#{$color} {
    //             --tooltip-color: hsl(var(--#{$color}));
    //             --tooltip-text-color: hsl(var(--#{$color}-content));
    //         }
    //     }

    //     &.#{$prefix}tooltip-top {
    //         & > div.tooltip-content {
    //             @apply -translate-x-1/2 top-auto left-1/2 right-auto;
    //             bottom: var(--tooltip-offset);
    //         }
    //     }

    //     &.#{$prefix}tooltip-bottom {
    //         & > div.tooltip-content {
    //             @apply -translate-x-1/2 left-1/2 right-auto bottom-auto;
    //             top: var(--tooltip-offset);
    //         }
    //     }

    //     &.#{$prefix}tooltip-left {
    //         & > div.tooltip-content {
    //             @apply -translate-y-1/2 top-1/2 left-auto bottom-auto;
    //             right: var(--tooltip-offset);
    //         }
    //     }

    //     &.#{$prefix}tooltip-right {
    //         & > div.tooltip-content {
    //             @apply -translate-y-1/2 top-1/2 right-auto bottom-auto;
    //             left: var(--tooltip-offset);
    //         }
    //     }
    // }

    // @include tooltip-props();

    // @each $screen-size in $tailwind-screen-sizes {
    //     @screen #{$screen-size} {
    //         @include tooltip-props('#{$screen-size}:');
    //     }
    // }
}
