@use '../themes.scss';
@use 'sass:list';

.dui-tooltip-wrapper {
    & > .dui-tooltip-content {
        background-color: var(--tooltip-color);
        bottom: var(--tooltip-offset);
        color: var(--tooltip-text-color);

        position: absolute;
        pointer-events: none;
        opacity: 0;
        transform: translateX(-50%);
        top: auto;
        left: 50%;
        right: auto;
        max-width: 20rem;
        border-radius: 0.25rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        font-size: 0.875rem;
        line-height: 1.25rem;
        width: max-content;

        transition-property: color, background-color, border-color, opacity, transform;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 200ms;
        transition-delay: 100ms;
    }

    &:hover > .dui-tooltip-content {
        opacity: 1;
        transition-delay: 75ms;
    }

    &.dui-tooltip-open > .dui-tooltip-content {
        opacity: 1;
        transition-delay: 75ms;
    }

    @each $color in list.join(themes.$brand-colors, themes.$functional-colors) {
        &.dui-tooltip-#{$color} {
            --tooltip-color: rgb(themes.get-color($color));
            --tooltip-text-color: rgb(themes.get-color($color + '-content'));
        }
    }

    &.dui-tooltip-top {
        & > .dui-tooltip-content {
            transform: translateX(-50%) translateY(0);
            top: auto;
            left: 50%;
            right: auto;
            bottom: var(--tooltip-offset);
        }
    }

    &.dui-tooltip-bottom {
        & > .dui-tooltip-content {
            transform: translateX(-50%) translateY(0);
            left: 50%;
            right: auto;
            bottom: auto;
            top: var(--tooltip-offset);
        }
    }

    &.dui-tooltip-left {
        & > .dui-tooltip-content {
            transform: translateX(0) translateY(-50%);
            top: 50%;
            left: auto;
            bottom: auto;
            right: var(--tooltip-offset);
        }
    }

    &.dui-tooltip-right {
        & > .dui-tooltip-content {
            transform: translateX(0) translateY(-50%);
            top: 50%;
            right: auto;
            bottom: auto;
            left: var(--tooltip-offset);
        }
    }
}
