@use '../escape' as *;
@use '../variables';
@use '../colors';
@use 'sass:list';
@use 'sass:map';

div.dui-tooltip {
    display: inline-block;
    position: relative;
    text-align: center;
    --tooltip-offset: calc(100% + 1px + var(--tooltip-tail, 0px));
    --tooltip-tail: 3px;
    --tooltip-color: hsl(var(--neutral));
    --tooltip-text-color: hsl(var(--neutral-content));
    --tooltip-tail-offset: calc(100% + 1px - var(--tooltip-tail));

    &:after {
        content: '';
        display: block;
        position: absolute;
        top: auto;
        left: 50%;
        right: auto;
        width: 0;
        height: 0;
        border-style: solid;
        opacity: 0;
        transform: translateX(-50%);
        border-width: var(--tooltip-tail, 0);
        bottom: var(--tooltip-tail-offset);
        border-color: var(--tooltip-color) transparent transparent transparent;
        transition-property: border-color, opacity, transform;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 200ms;
        transition-delay: 100ms;
    }

    &:hover:after {
        opacity: 1;
        transition-delay: 75ms;
    }

    @mixin responsive-props($prefix: '') {
        $prefix: escape($prefix);

        &.#{$prefix}dui-tooltip-open:after {
            opacity: 1;
            transition-delay: 75ms;
        }

        @each $color in list.join(colors.$brand, colors.$functional) {
            &.#{$prefix}dui-tooltip-#{$color} {
                --tooltip-color: colors.get($color);
                --tooltip-text-color: colors.get-content($color);
            }
        }

        &.#{$prefix}dui-tooltip-top {
            &:after {
                transform: translateX(-50%) translateY(0);
                top: auto;
                left: 50%;
                right: auto;
                bottom: var(--tooltip-tail-offset);
                border-color: var(--tooltip-color) transparent transparent transparent;
            }
        }

        &.#{$prefix}dui-tooltip-bottom {
            &:after {
                transform: translateX(-50%) translateY(0);
                left: 50%;
                right: auto;
                bottom: auto;
                top: var(--tooltip-tail-offset);
                border-color: transparent transparent var(--tooltip-color) transparent;
            }
        }

        &.#{$prefix}dui-tooltip-left {
            &:after {
                transform: translateX(0) translateY(-50%);
                top: 50%;
                left: auto;
                bottom: auto;
                right: var(--tooltip-tail-offset);
                border-color: transparent transparent transparent var(--tooltip-color);
            }
        }

        &.#{$prefix}dui-tooltip-right {
            &:after {
                transform: translateX(0) translateY(-50%);
                top: 50%;
                right: auto;
                bottom: auto;
                left: var(--tooltip-tail-offset);
                border-color: transparent var(--tooltip-color) transparent transparent;
            }
        }
    }

    @include responsive-props();

    @each $name, $screen-size in variables.$screen-sizes {
        @media (min-width: #{$screen-size}) {
            @include responsive-props('#{$name}:');
        }
    }
}
