@use 'sass:list';
@use '../variables.scss' as *;
@use '../escape.scss' as *;

div.dui-tooltip {
    & > div.dui-tooltip-content {
        @apply opacity-0 transition delay-100 duration-200 ease-in-out;
        @apply absolute pointer-events-none;
        @apply -translate-x-1/2 top-auto left-1/2 right-auto;
        @apply max-w-xs rounded px-2 py-1 text-sm;
        background-color: var(--tooltip-color);
        bottom: var(--tooltip-offset);
        color: var(--tooltip-text-color);
        width: max-content;
    }

    &:hover > div.dui-tooltip-content {
        @apply opacity-100 delay-75;
    }

    @mixin tooltip-props($prefix: '') {
        $prefix: escape($prefix);

        &.#{$prefix}dui-tooltip-open > div.dui-tooltip-content {
            @apply opacity-100 delay-75;
        }

        @each $color in list.join($brand-colors, $functional-colors) {
            &.#{$prefix}dui-tooltip-#{$color} {
                --tooltip-color: hsl(var(--#{$color}));
                --tooltip-text-color: hsl(var(--#{$color}-content));
            }
        }

        &.#{$prefix}dui-tooltip-top {
            & > div.dui-tooltip-content {
                @apply -translate-x-1/2 translate-y-0 top-auto left-1/2 right-auto;
                bottom: var(--tooltip-offset);
            }
        }

        &.#{$prefix}dui-tooltip-bottom {
            & > div.dui-tooltip-content {
                @apply -translate-x-1/2 translate-y-0 left-1/2 right-auto bottom-auto;
                top: var(--tooltip-offset);
            }
        }

        &.#{$prefix}dui-tooltip-left {
            & > div.dui-tooltip-content {
                @apply translate-x-0 -translate-y-1/2 top-1/2 left-auto bottom-auto;
                right: var(--tooltip-offset);
            }
        }

        &.#{$prefix}dui-tooltip-right {
            & > div.dui-tooltip-content {
                @apply translate-x-0 -translate-y-1/2 top-1/2 right-auto bottom-auto;
                left: var(--tooltip-offset);
            }
        }
    }

    @include tooltip-props();

    @each $screen-size in $tailwind-screen-sizes {
        @screen #{$screen-size} {
            @include tooltip-props('#{$screen-size}:');
        }
    }
}
