.tooltip {
    @apply relative inline-block text-center;
    --tooltip-tail: 3px;
    --tooltip-color: hsl(var(--neutral));
    --tooltip-text-color: hsl(var(--neutral-content));
    --tooltip-tail-offset: calc(100% + 1px - var(--tooltip-tail));

    & > :global(.tooltip-content),
    &:after {
        @apply opacity-0 transition delay-100 duration-200 ease-in-out;
    }

    &:after {
        @apply absolute block w-0 h-0 border-solid;
        content: '';
        border-width: var(--tooltip-tail, 0);
    }

    & > :global(.tooltip-content) {
        @apply max-w-xs rounded px-2 py-1 text-sm;
        background-color: var(--tooltip-color);
        color: var(--tooltip-text-color);
        width: max-content;
    }

    &.tooltip-open > :global(.tooltip-content),
    &.tooltip-open:after,
    &:hover:before,
    &:hover:after {
        @apply opacity-100 delay-75;
    }

    &.tooltip-top {
        &:after {
            @apply -translate-x-1/2 top-auto left-1/2 right-auto;
            bottom: var(--tooltip-tail-offset);
            border-color: var(--tooltip-color) transparent transparent
                transparent;
        }
    }

    &.tooltip-bottom {
        &:after {
            @apply -translate-x-1/2 left-1/2 right-auto bottom-auto;
            top: var(--tooltip-tail-offset);
            border-color: transparent transparent var(--tooltip-color)
                transparent;
        }
    }

    &.tooltip-left {
        &:after {
            @apply -translate-y-1/2 top-1/2 left-auto bottom-auto;
            right: var(--tooltip-tail-offset);
            border-color: transparent transparent transparent
                var(--tooltip-color);
        }
    }

    &.tooltip-right {
        &:after {
            @apply -translate-y-1/2 top-1/2 right-auto bottom-auto;
            left: var(--tooltip-tail-offset);
            border-color: transparent var(--tooltip-color) transparent
                transparent;
        }
    }

    &.tooltip-primary {
        --tooltip-color: hsl(var(--primary));
        --tooltip-text-color: hsl(var(--primary-content));
    }

    &.tooltip-secondary {
        --tooltip-color: hsl(var(--secondary));
        --tooltip-text-color: hsl(var(--secondary-content));
    }

    &.tooltip-accent {
        --tooltip-color: hsl(var(--accent));
        --tooltip-text-color: hsl(var(--accent-content));
    }

    &.tooltip-info {
        --tooltip-color: hsl(var(--info));
        --tooltip-text-color: hsl(var(--info-content));
    }

    &.tooltip-success {
        --tooltip-color: hsl(var(--success));
        --tooltip-text-color: hsl(var(--success-content));
    }

    &.tooltip-warning {
        --tooltip-color: hsl(var(--warning));
        --tooltip-text-color: hsl(var(--warning-content));
    }

    &.tooltip-error {
        --tooltip-color: hsl(var(--error));
        --tooltip-text-color: hsl(var(--error-content));
    }
}
