.code {
    @apply min-w-[18rem] bg-neutral py-5 text-neutral-content;
    border-radius: var(--box-border-radius);

    &:before {
        content: '';
        @apply mb-4 block h-3 w-3 rounded-full opacity-30;
        box-shadow: 1.4em 0, 2.8em 0, 4.2em 0;
    }

    :global(pre) {
        @apply pr-5;
        &:before {
            content: '';
            margin-right: 2ch;
        }
    }

    :global(pre[data-prefix]) {
        &:before {
            content: attr(data-prefix);
            @apply w-8 opacity-50;
        }
    }
}
