@use '../themes.scss';

.dui-kbd {
    // Colors
    @include themes.border-color('neutral-focus', 0.2);
    @include themes.bg-color('base-200');
    @include themes.text-color('base-content');
    // Variables
    @include themes.button-border-radius();

    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-width: 1px;
    border-bottom-width: 2px;

    &.dui-kbd-xs {
        padding-left: 0.25rem;
        padding-right: 0.25rem;
        font-size: 0.75rem;
        line-height: 1rem;
        min-height: 1.2em;
        min-width: 1.2em;
    }

    &.dui-kbd-sm {
        padding-left: 0.25rem;
        padding-right: 0.25rem;
        font-size: 0.875rem;
        line-height: 1.25rem;
        min-height: 1.6em;
        min-width: 1.6em;
    }

    &.dui-kbd-md {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        font-size: 1rem;
        line-height: 1.5rem;
        min-height: 2.2em;
        min-width: 2.2em;
    }

    &.dui-kbd-lg {
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 1.125rem;
        line-height: 1.75rem;
        min-height: 2.5em;
        min-width: 2.5em;
    }
}
