@use 'sass:map';

$primary: var(--primary);
$primary-content: var(--primary-content);
$primary-focus: var(--primary-focus);
$secondary: var(--secondary);
$secondary-content: var(--secondary-content);
$secondary-focus: var(--secondary-focus);
$accent: var(--accent);
$accent-content: var(--accent-content);
$accent-focus: var(--accent-focus);
$neutral: var(--neutral);
$neutral-content: var(--neutral-content);
$neutral-focus: var(--neutral-focus);
$success: var(--success);
$success-content: var(--success-content);
$success-focus: var(--success-focus);
$info: var(--info);
$info-content: var(--info-content);
$info-focus: var(--info-focus);
$warning: var(--warning);
$warning-content: var(--warning-content);
$warning-focus: var(--warning-focus);
$error: var(--error);
$error-content: var(--error-content);
$error-focus: var(--error-focus);
$base-100: var(--base-100);
$base-200: var(--base-200);
$base-300: var(--base-300);
$base-content: var(--base-content);

$color-map: (
    primary: var(--primary),
    primary-content: var(--primary-content),
    primary-focus: var(--primary-focus),
    secondary: var(--secondary),
    secondary-content: var(--secondary-content),
    secondary-focus: var(--secondary-focus),
    accent: var(--accent),
    accent-content: var(--accent-content),
    accent-focus: var(--accent-focus),
    neutral: var(--neutral),
    neutral-content: var(--neutral-content),
    neutral-focus: var(--neutral-focus),
    success: var(--success),
    success-content: var(--success-content),
    success-focus: var(--success-focus),
    info: var(--info),
    info-content: var(--info-content),
    info-focus: var(--info-focus),
    warning: var(--warning),
    warning-content: var(--warning-content),
    warning-focus: var(--warning-focus),
    error: var(--error),
    error-content: var(--error-content),
    error-focus: var(--error-focus),
    base-100: var(--base-100),
    base-200: var(--base-200),
    base-300: var(--base-300),
    base-content: var(--base-content),
);

@function get-var($color) {
    @return map.get($color-map, $color);
}

@function get-content-var($color) {
    @return map.get($color-map, $color + '-content');
}

@function get-focus-var($color) {
    @return map.get($color-map, $color + '-focus');
}

@function get-hsl($color) {
    @return hsl(get-var($color));
}

@function get-hsl-content($color) {
    @return hsl(get-content-var($color));
}

@function get-hsl-focus($color) {
    @return hsl(get-focus-var($color));
}

@function get-hsla($color, $alpha: 1) {
    @return hsla(get-var($color, $alpha), $alpha);
}

@function get-hsla-content($color, $alpha: 1) {
    @return hsla(get-content-var($color, $alpha), $alpha);
}

@function get-hsla-focus($color, $alpha: 1) {
    @return hsla(get-focus-var($color, $alpha), $alpha);
}
