@use '../themes.scss';

.dui-card {
    @include themes.box-border-radius();

    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;

    &:focus {
        outline: 2px solid transparent;
        outline-offset: 2px;
    }

    &:focus-visible {
        outline: 2px solid currentColor;
        outline-offset: 2px;
    }

    &.dui-card-side {
        align-items: stretch;
        flex-direction: row;
    }

    &.dui-card-bordered {
        @include themes.border-color('base-200');

        border-width: 1px;
    }

    &.dui-card-image-full {
        display: grid;

        &:before {
            @include themes.bg-color('neutral');
            @include themes.box-border-radius();

            position: relative;
            z-index: 10;
            opacity: 0.75;
            content: '';
        }

        &:before,
        & > * {
            grid-column-start: 1;
            grid-row-start: 1;
        }
    }
}
