.dui-card {
    &.dui-card-compact > .dui-card-body > .card-title {
        margin-bottom: 0.25rem;
    }

    &.dui-card-normal > .dui-card-body > .dui-card-title {
        margin-bottom: 0.75rem;
    }

    & > .dui-card-body > .dui-card-title {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-size: 1.25rem;
        line-height: 1.75rem;
        font-weight: 600;
    }
}
