.card {
    @apply relative flex flex-col overflow-hidden;

    &:focus {
        @apply outline-none;
    }

    &.card-body {
        @apply flex flex-auto flex-col;

        :global(p) {
            @apply flex-grow;
        }
    }

    &.card-actions {
        @apply flex flex-wrap items-start gap-2;
    }

    & > :global(figure) {
        @apply flex items-center justify-center;
    }

    &.card-side {
        align-items: stretch;
        flex-direction: row;

        & > :global(figure) > :global(*) {
            max-width: unset;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &.card-image-full {
        @apply grid;

        &:before {
            @apply relative;
            content: '';
        }

        &:before,
        & > :global(*) {
            @apply col-start-1 row-start-1;
        }

        & > :global(figure) > :global(img) {
            @apply h-full object-cover;
        }

        & > .card-body {
            @apply relative;
        }
    }
}
