.card {
    border-radius: var(--box-border-radius);

    &:focus-visible {
        outline: 2px solid currentColor;
        outline-offset: 2px;
    }

    &.card-bordered {
        @apply border border-base-200;
    }

    &.card-bordered {
        @apply border border-base-200;
    }

    &.card-compact {
        & > :global(.card-body) {
            @apply p-4 text-sm;

            & > :global(.card-title) {
                @apply mb-1;
            }
        }
    }

    &.card-normal {
        & > :global(.card-body) {
            @apply text-base;
            padding: var(--padding-card, 2rem);

            & > :global(.card-title) {
                @apply mb-3;
            }
        }
    }

    & > :global(.card-body) {
        @apply flex flex-col gap-2;
        padding: var(--padding-card, 2rem);

        & > :global(.card-title) {
            @apply flex items-center gap-2 text-xl font-semibold;
        }
    }

    &.card-image-full {
        &:before {
            @apply z-10 bg-neutral opacity-75;
            border-radius: var(--box-border-radius);
        }

        & > :global(.card-body) {
            @apply z-20 text-neutral-content;
        }
    }
}
