@use '../themes.scss';
@use 'sass:list';

.dui-stats-group > .dui-stats-item > .dui-stats-item-figure {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row: span 3 / span 3;
    place-self: center;
    justify-self: end;
}
