@use '../themes.scss';
@use 'sass:map';

.dui-modal {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: auto;
    position: fixed;
    padding: 48px 16px;
    z-index: 200;
    inset: 0;

    width: 100%;
    height: 100%;

    & > .dui-modal-box {
        @include themes.bg-color('base-100');
        @include themes.text-color('base-content');

        border-radius: themes.$box-border-radius;

        position: relative;
        padding: 1.5rem;
        // max-height: calc(100vh - 185px);
        // overflow-y: auto;
        // overscroll-behavior: contain;

        & > .dui-modal-box-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 16px;
            margin-right: -9px;

            & > .dui-modal-box-header-title {
                font-size: 1.125rem;
                line-height: 1.75rem;
                font-weight: 700;
            }
        }
    }

    & > .dui-modal-overlay {
        @include themes.bg-color('neutral-focus', 0.8);

        position: fixed;
        inset: 0;
    }
}
