@use '../themes.scss';
@use 'sass:map';

.modal {
    @include themes.bg-color('neutral-focus', 0.4);

    @apply sm:items-center;

    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: fixed;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: hidden;
    overscroll-behavior: contain;
    z-index: 999;

    transition-property: transform, opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;

    // @media (min-width: map.get()) {

    // }

    &.modal-open,
    &[data-visible='true'] {
        pointer-events: auto;
        visibility: visible;
        opacity: 1;

        & > .modal-box {
            @apply translate-y-0 scale-100;
        }
    }

    & > .modal-box {
        @apply transform translate-y-10 sm:translate-y-0 sm:scale-90 transition duration-200 ease-in-out;
        @apply max-h-full p-6 w-full sm:max-w-lg overflow-y-auto;
        @apply bg-base-100 sm:rounded-2xl;
        box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);

        & > .modal-header {
            @apply flex items-center mb-4;

            & > .modal-header-title {
                @apply flex-1;
            }
            & > .modal-header-close {
                @apply flex-none justify-self-end;
            }
        }
    }
}
