.dui-icon {
    display: inline-block;

    @keyframes loadingCircle {
        to {
            transform: rotate(360deg);
        }
    }
 
    &.dui-icon-spin {
        animation: loadingCircle 1s infinite linear;
    }
}
