@use '../themes.scss';
@use 'sass:list';

.dui-textarea {
    @include themes.border-color('base-content', 0);
    @include themes.bg-color('base-100');
    @include themes.button-border-radius();

    flex-shrink: 1;
    border-width: 1px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.875rem;
    line-height: 2;
    min-height: 3rem;

    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow,
        transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;

    &:focus {
        @include themes.border-opacity(1);

        outline: 2px solid rgb(themes.get-color('neutral'));
        outline-offset: 2px;
    }

    &:disabled {
        @include themes.border-color('base-200');
        @include themes.bg-color('base-200');
        @include themes.text-opacity(0.2);
        @include themes.placeholder-color('base-content', 0.2);

        cursor: not-allowed;
    }

    &.dui-textarea-bordered {
        @include themes.border-opacity(0.2);
    }

    &.dui-textarea-ghost {
        @include themes.bg-opacity(0.05);

        &:focus {
            @include themes.bg-opacity(1);
            @include themes.text-color('base-content');

            box-shadow: none;
        }
    }

    @each $color in list.join(themes.$brand-colors, themes.$functional-colors) {
        &.dui-textarea-#{$color} {
            border-color: rgb(themes.get-color($color));

            &:focus {
                outline: 2px solid rgb(themes.get-color($color));
            }
        }
    }
}
