:global(.carousel-group) {
    & > :global(.carousel-item) {
        @apply box-content flex flex-none;
    }
}

:global(.carousel-group.carousel-group-start) > .carousel-item {
    scroll-snap-align: start;
}

:global(.carousel-group.carousel-group-center) > .carousel-item {
    scroll-snap-align: center;
}

:global(.carousel-group.carousel-group-end) > .carousel-item {
    scroll-snap-align: end;
}
