@use '../escape' as *;
@use '../variables';
@use '../colors';

.dui-btn-group {
    display: flex;
    flex-wrap: wrap;

    & > input[type='radio']:checked.dui-btn,
    & > .dui-btn.dui-btn-active {
        border-color: colors.get('primary');
        background-color: colors.get('primary');
        color: colors.get-content('primary');

        &:focus-visible {
            --tw-border-opacity: 1;
            outline: 2px solid hsl(var(--primary) / var(--tw-border-opacity));
        }
    }

    & > .dui-btn:not(:first-of-type) {
        margin-left: -1px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    & > .dui-btn:not(:last-of-type) {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    & > input[type='radio'].dui-btn {
        appearance: none;
    }

    & > input[type='radio'].dui-btn:before {
        content: attr(data-title);
    }
}
