@use '../themes.scss';

.dui-btn-group {
    display: flex;
    flex-wrap: wrap;

    & > input[type='radio']:checked.dui-btn,
    & > .dui-btn.dui-btn-active {
        @include themes.border-color('primary');
        @include themes.bg-color('primary');
        @include themes.text-color('primary-content');

        &:focus-visible {
            --tw-border-opacity: 1;
            outline: 2px solid rgb(themes.$primary / var(--tw-border-opacity));
        }
    }

    & > .dui-btn:not(:first-of-type) {
        margin-left: -1px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    & > .dui-btn:not(:last-of-type) {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    & > input[type='radio'].dui-btn {
        appearance: none;
    }

    & > input[type='radio'].dui-btn:before {
        content: attr(data-title);
    }
}
