.dui-btn-group {
    @apply flex flex-wrap;

    & > input[type='radio']:checked.btn,
    & > .btn-active {
        @apply border-primary bg-primary text-primary-content;

        &:focus-visible {
            --tw-border-opacity: 1;
            outline: 2px solid hsl(var(--primary) / var(--tw-border-opacity));
        }
    }

    & > .btn:not(:first-of-type) {
        @apply -ml-px rounded-l-none;
    }

    & > .btn:not(:last-of-type) {
        @apply rounded-r-none;
    }

    & > input[type='radio'].btn {
        @apply appearance-none;
    }

    & > input[type='radio'].btn:before {
        content: attr(data-title);
    }
}
