@use '../escape' as *;
@use '../variables';
@use '../colors';
@use 'sass:list';

.dui-btn {
    display: inline-flex;
    flex-shrink: 0;
    cursor: pointer;
    user-select: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-color: colors.get('neutral');
    background-color: colors.get('neutral');
    color: colors.get-content('neutral');
    text-align: center;
    height: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration-line: none;

    transition-property: color, background-color, border-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;

    border-width: var(---button-border-width, 1px);
    animation: button-pop var(--button-animation-duration, 0.25s) ease-out;
    text-transform: var(--button-text-transform, uppercase);
    border-radius: var(--button-border-radius);
    min-height: 3rem;
    line-height: 1em;

    @mixin btn-props($prefix: '') {
        $prefix: escape($prefix);

        &.#{$prefix}dui-btn-no-animation {
            --button-animation-duration: 0;
            --button-focus-scale: 1;
        }
    }

    @include btn-props();

    &.dui-btn-active:hover,
    &.dui-btn-active:focus {
        animation: none;
    }

    &.dui-btn-active:hover,
    &.dui-btn-active:focus {
        transform: scale(var(--button-focus-scale, 0.95));
    }

    &:hover,
    &.dui-btn-active {
        border-color: colors.get-focus('neutral');
        background-color: colors.get-focus('neutral');
    }

    &:focus-visible {
        outline: 2px solid colors.get-focus('neutral');
        outline-offset: 2px;
    }

    @each $color in list.join(colors.$brand, colors.$functional) {
        &.dui-btn-#{$color} {
            border-color: colors.get($color);
            background-color: colors.get($color);
            color: colors.get-content($color);

            &:hover,
            &.dui-btn-active {
                border-color: colors.get-focus($color);
                background-color: colors.get-focus($color);
            }

            &:focus-visible {
                outline: 2px solid colors.get($color);
            }
        }
    }

    &.dui-btn-ghost {
        border: 1px solid transparent;
        background-color: transparent;
        color: currentColor;

        &:hover,
        &.dui-btn-active {
            @apply border-opacity-0 bg-base-content bg-opacity-20;
        }

        &:focus-visible {
            outline: 2px solid 0 0 2px currentColor;
        }
    }

    &.dui-btn-link {
        border-color: transparent;
        background-color: transparent;
        color: colors.get('primary');

        &:hover,
        &.dui-btn-active {
            border-color: transparent;
            background-color: transparent;
            text-decoration-line: underline;
        }

        &:focus-visible {
            outline: 2px solid 0 0 2px currentColor;
        }
    }

    &.dui-btn-outline {
        border-color: currentColor;
        background-color: transparent;
        color: colors.get-content('base');

        &:hover {
            border-color: colors.get-content('base');
            background-color: colors.get-content('base');
            color: colors.get('base-100');
        }

        @each $color in list.join(colors.$brand, colors.$functional) {
            &.dui-btn-#{$color} {
                color: colors.get($color);

                &:hover {
                    border-color: colors.get-focus($color);
                    background-color: colors.get-focus($color);
                    color: colors.get-content($color);
                }
            }
        }
    }

    &:disabled,
    &:disabled:hover {
        @apply border-opacity-0 bg-neutral bg-opacity-20 text-base-content text-opacity-20;
    }

    &.dui-btn-loading {
        &.dui-btn-square:before,
        &.dui-btn-circle:before {
            margin-right: 0;
        }

        &.dui-btn-xl:before,
        &.dui-btn-lg:before {
            height: 1.25rem;
            width: 1.25rem;
        }

        &.dui-btn-sm:before,
        &.dui-btn-xs:before {
            height: 0.75rem;
            width: 0.75rem;
        }

        &,
        &:hover {
            pointer-events: none;
        }

        &:before {
            content: '';
            margin-right: 0.5rem;
            height: 1rem;
            width: 1rem;
            border-radius: 9999px;
            border-width: 2px;
            animation: spin 2s linear infinite;
            border-top-color: transparent;
            border-left-color: transparent;
            border-bottom-color: currentColor;
            border-right-color: currentColor;
        }

        @media (prefers-reduced-motion: reduce) {
            &:before {
                animation: spin 10s linear infinite;
            }
        }
    }

    &:disabled {
        pointer-events: none;
    }

    &.dui-btn-xs {
        height: 1.5rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        min-height: 1.5rem;
        font-size: 0.75rem;
    }

    &.dui-btn-sm {
        height: 2rem;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        min-height: 2rem;
        font-size: 0.875rem;
    }

    &.dui-btn-md {
        height: 3rem;
        padding-left: 1rem;
        padding-right: 1rem;
        min-height: 3rem;
        font-size: 0.875rem;
    }

    &.dui-btn-lg {
        height: 4rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        min-height: 4rem;
        font-size: 1.125rem;
    }

    &.dui-btn-wide {
        width: 16rem;
    }

    &.dui-btn-block {
        width: 100%;
    }

    &.dui-btn-square {
        height: 3rem;
        width: 3rem;
        padding: 0;

        &.dui-btn-xs {
            height: 1.5rem;
            width: 50%;
        }

        &.dui-btn-sm {
            height: 2rem;
            width: 7rem;
        }

        &.dui-btn-md {
            height: 3rem;
            width: 3rem;
        }

        &.dui-btn-lg {
            height: 4rem;
            width: 4rem;
        }
    }

    &.dui-btn-circle {
        height: 3rem;
        width: 3rem;
        border-radius: 9999px;
        padding: 0;

        &.dui-btn-xs {
            height: 1.5rem;
            width: 1.5rem;
        }

        &.dui-btn-sm {
            height: 2rem;
            width: 2rem;
        }

        &.dui-btn-md {
            height: 3rem;
            width: 3rem;
        }

        &.dui-btn-lg {
            height: 4rem;
            width: 4rem;
        }
    }
}

@keyframes button-pop {
    0% {
        transform: scale(var(--button-focus-scale, 0.95));
    }
    40% {
        transform: scale(1.02);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
