.btn {
    @apply inline-flex flex-shrink-0 cursor-pointer select-none flex-wrap items-center justify-center border-transparent text-center transition duration-200 ease-in-out;
    @apply h-12 px-4 text-sm;
    @apply font-semibold uppercase;
    line-height: 1em;
    border-radius: 0.5rem;
    border-width: 1px;
    animation: button-pop var(--animation-btn, 0.25s) ease-out;
    // min-height: 3rem;

    &:disabled {
        @apply border-opacity-0 bg-neutral bg-opacity-20 text-base-content text-opacity-20;
        @apply pointer-events-none;
    }

    &.btn-no-animation {
        --animation-btn: 0;
        --btn-focus-scale: 1;
    }

    &:active:hover,
    &:active:focus {
        animation: none;
        transform: var(--btn-focus-scale, 0.95);
    }

    & {
        @apply border-neutral bg-neutral text-neutral-content;

        &:hover,
        &.btn-active {
            @apply border-neutral-focus bg-neutral-focus;
        }

        &:focus-visible {
            outline: 2px solid rgb(var(--neutral-focus));
            outline-offset: 2px;
        }
    }

    $colors: primary, secondary, accent, info, success, warning, error;

    @each $color in $colors {
        &.btn-#{$color} {
            @apply border-#{$color} bg-#{$color} text-#{$color}-content;

            &:hover,
            &.btn-active {
                @apply border-#{$color}-focus bg-#{$color}-focus;
            }

            &:focus-visible {
                outline: 2px solid rgb(var(--#{$color}));
            }
        }
    }

    &.btn-xs {
        @apply h-6 px-2;
        min-height: 1.5rem;
        font-size: 0.75rem;
    }

    &.btn-sm {
        @apply h-8 px-3;
        min-height: 2rem;
        font-size: 0.875rem;
    }

    &.btn-md {
        @apply h-12 px-4;
        min-height: 3rem;
        font-size: 0.875rem;
    }

    &.btn-lg {
        @apply h-16 px-6;
        min-height: 4rem;
        font-size: 1.125rem;
    }

    &.btn-block {
        @apply w-full;
    }

    &.btn-square {
        @apply h-12 w-12 p-0;

        &.btn-xs {
            @apply h-6 w-6 p-0;
        }

        &.btn-sm {
            @apply h-8 w-8 p-0;
        }

        &.btn-md {
            @apply h-12 w-12 p-0;
        }

        &.btn-lg {
            @apply h-16 w-16 p-0;
        }
    }

    &.btn-circle {
        @apply h-12 w-12 rounded-full p-0;

        &.btn-xs {
            @apply h-6 w-6 rounded-full p-0;
        }

        &.btn-sm {
            @apply h-8 w-8 rounded-full p-0;
        }

        &.btn-md {
            @apply h-12 w-12 rounded-full p-0;
        }

        &.btn-lg {
            @apply h-16 w-16 rounded-full p-0;
        }
    }

    &.btn-loading {
        &,
        &:hover {
            @apply pointer-events-none;
        }

        &:before {
            @apply mr-2 h-4 w-4 rounded-full border-2;
            animation: spin 2s linear infinite;
            content: '';
            border-top-color: transparent;
            border-left-color: transparent;
            border-bottom-color: currentColor;
            border-right-color: currentColor;
        }

        &.btn-square:before,
        &.btn-circle:before {
            @apply mr-0;
        }

        &.btn-xl:before,
        &.btn-lg:before {
            @apply h-5 w-5;
        }

        &.btn-sm:before,
        &.btn-xs:before {
            @apply h-3 w-3;
        }

        @media (prefers-reduced-motion: reduce) {
            &::before {
                animation: spin 10s linear infinite;
            }
        }
    }

    &.btn-ghost {
        @apply border border-transparent bg-transparent text-current;

        &:hover,
        &.btn-active {
            @apply border-opacity-0 bg-base-content bg-opacity-20;
        }

        &:focus-visible {
            outline: 2px solid 0 0 2px currentColor;
        }
    }

    &.btn-link {
        @apply border-transparent bg-transparent text-primary;

        &:hover,
        &.btn-active {
            @apply border-transparent bg-transparent underline;
        }

        &:focus-visible {
            outline: 2px solid 0 0 2px currentColor;
        }
    }

    &.btn-outline {
        @apply border-current bg-transparent text-base-content;

        &:hover {
            @apply border-base-content bg-base-content text-base-100;

            & > :global(.badge) {
                @apply border-base-200 bg-base-200 text-base-content;

                &:global(.badge-outline) {
                    @apply border-base-200 text-neutral-content;
                }
            }
        }

        & > :global(.badge) {
            @apply text-neutral-content border-neutral-focus;

            &:global(.badge-outline) {
                @apply border-neutral-focus bg-transparent;
            }
        }

        &.btn-primary {
            @apply text-primary;

            &:hover {
                @apply border-primary-focus bg-primary-focus text-primary-content;
            }

            & > :global(.badge) {
                @apply border-primary bg-primary text-primary-content;

                &:hover {
                    @apply border-primary-content bg-primary-content text-primary;

                    &:global(.badge-outline) {
                        @apply border-primary-content bg-primary-focus text-primary-content;
                    }
                }

                &:global(.badge-outline) {
                    @apply border-primary bg-transparent text-primary;
                }
            }
        }

        &.btn-secondary {
            @apply text-secondary;

            &:hover {
                @apply border-secondary-focus bg-secondary-focus text-secondary-content;
            }

            & > :global(.badge) {
                @apply border-secondary bg-secondary text-secondary-content;

                &:hover {
                    @apply border-secondary-content bg-secondary-content text-secondary;

                    &:global(.badge-outline) {
                        @apply border-secondary-content bg-secondary-focus text-secondary-content;
                    }
                }

                &:global(.badge-outline) {
                    @apply border-secondary bg-transparent text-secondary;
                }
            }
        }

        &.btn-accent {
            @apply text-accent;

            &:hover {
                @apply border-accent bg-accent text-accent-content;
            }

            & > :global(.badge) {
                @apply border-accent bg-accent text-accent-content;

                &:hover {
                    @apply border-accent-content bg-accent-content text-accent;

                    &:global(.badge-outline) {
                        @apply border-accent-content bg-accent-focus text-accent-content;
                    }
                }

                &:global(.badge-outline) {
                    @apply border-accent bg-transparent text-accent;
                }
            }
        }

        &.btn-success {
            @apply text-success-content;

            &:hover {
                @apply border-success bg-success text-success-content;
            }
        }

        &.btn-info {
            @apply text-info-content;

            &:hover {
                @apply border-info bg-info text-info-content;
            }
        }

        &.btn-warning {
            @apply text-warning-content;

            &:hover {
                @apply border-warning bg-warning text-warning-content;
            }
        }

        &.btn-error {
            @apply text-error-content;

            &:hover {
                @apply border-error bg-error text-error-content;
            }
        }
    }

    // & > :global(.badge) {
    //     @apply border-neutral-focus text-neutral-content;

    //     &:global(.badge-outline) {
    //         @apply border-neutral-focus bg-transparent;
    //     }
    // }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes button-pop {
    0% {
        transform: scale(var(--btn-focus-scale, 0.95));
    }
    40% {
        transform: scale(1.02);
    }
    100% {
        transform: scale(1);
    }
}
