.btn {
    @apply inline-flex flex-shrink-0 cursor-pointer select-none flex-wrap items-center justify-center border-transparent text-center transition duration-200 ease-in-out;
    @apply h-12 px-4 text-sm;
    border-radius: var(--button-border-radius);
    min-height: 3rem;
    line-height: 1em;

    &:disabled {
        @apply pointer-events-none;
    }

    &.btn-xs {
        @apply h-6 px-2;
        min-height: 1.5rem;
        font-size: 0.75rem;
    }

    &.btn-sm {
        @apply h-8 px-3;
        min-height: 2rem;
        font-size: 0.875rem;
    }

    &.btn-md {
        @apply h-12 px-4;
        min-height: 3rem;
        font-size: 0.875rem;
    }

    &.btn-lg {
        @apply h-16 px-6;
        min-height: 4rem;
        font-size: 1.125rem;
    }

    &.btn-wide {
        @apply w-64;
    }

    &.btn-block {
        @apply w-full;
    }

    &.btn-square {
        @apply h-12 w-12 p-0;

        &.btn-xs {
            @apply h-6 w-6 p-0;
        }

        &.btn-sm {
            @apply h-8 w-8 p-0;
        }

        &.btn-md {
            @apply h-12 w-12 p-0;
        }

        &.btn-lg {
            @apply h-16 w-16 p-0;
        }
    }

    &.btn-circle {
        @apply h-12 w-12 rounded-full p-0;

        &.btn-xs {
            @apply h-6 w-6 rounded-full p-0;
        }

        &.btn-sm {
            @apply h-8 w-8 rounded-full p-0;
        }

        &.btn-md {
            @apply h-12 w-12 rounded-full p-0;
        }

        &.btn-lg {
            @apply h-16 w-16 rounded-full p-0;
        }
    }

    &.btn-loading {
        &,
        &:hover {
            @apply pointer-events-none;
        }

        &:before {
            @apply mr-2 h-4 w-4 rounded-full border-2;
            animation: spin 2s linear infinite;
            content: '';
            border-top-color: transparent;
            border-left-color: transparent;
            border-bottom-color: currentColor;
            border-right-color: currentColor;
        }
    }
}

@media (prefers-reduced-motion: reduce) {
    .btn.loading:before {
        animation: spin 10s linear infinite;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
