@use '../themes.scss';

.dui-drawer-wrapper {
    display: grid;
    position: relative;
    overflow: hidden;

    &.dui-drawer-wrapper-fixed {
        position: fixed;
    }

    &.dui-drawer-wrapper-open > .dui-drawer-wrapper-overlay {
        visibility: visible;
        opacity: 1;
    }

    & > .dui-drawer-wrapper-overlay {
        @include themes.bg-color('neutral-focus', 0.6);

        position: absolute;
        width: 100%;
        height: 100%;
        visibility: hidden;
        opacity: 0;
        cursor: pointer;
        grid-column-start: 1;
        grid-row-start: 1;

        transition-property: all;
        transition-duration: 300ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}
