@use '../themes.scss';

.dui-window {
    // Colors
    @include themes.text-color('base-content');
    @include themes.box-border-radius();

    position: relative;
    overflow: hidden;
    overflow-x: auto;
    padding-top: 1.25rem;

    &.dui-window-bordered {
        // Colors
        @include themes.border-color('base-300');

        border-width: 1px;
    }

    &:before {
        content: '';
        display: block;
        margin-bottom: 1rem;
        height: 0.75rem;
        width: 0.75rem;
        border-radius: 9999px;
        opacity: 0.3;
        box-shadow: 1.4em 0, 2.8em 0, 4.2em 0;
    }

    pre[data-prefix] {
        &:before {
            content: attr(data-prefix);
            display: inline-block;
            text-align: right;
        }
    }
}
